{% extends "base.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    <button type="button" class="btn btn-default" onClick="location.href='../profile/change-password'">Keisti slaptažodį</button>
    <button type="button" class="btn btn-default" onClick="location.href='../profile'">Atšaukti</button>
{% endblock fos_user_content %}
