{% extends '::base.html.twig' %}

{% block body -%}
    <legend>{% trans %}Event edit{% endtrans %}</legend>
    {{ form(edit_form) }}

    {{ form(delete_form) }}
    <a type="button" class="btn btn-default" href="/event/{{ entity.id }}">{% trans %}Atšaukti{% endtrans %}</a>
{% endblock %}
