{% extends '::base.html.twig' %}

{% block body -%}
    <h1>event edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>{{ form(delete_form) }}</li>
        <button type="button" class="btn btn-default" onClick="location.href='../{{ entity.id }}'">Atšaukti</button>
    </ul>
{% endblock %}
