{% extends '::base.html.twig' %}

{# Next line is to include form field override #}
{% form_theme form ':Form:fields.html.twig' %}

{% block body %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <legend>{% trans %}Naujas renginys{% endtrans %}</legend>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
