{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <legend>{% trans %}Naujas renginys{% endtrans %}</legend>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
