{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#publicEvents" data-toggle="tab">Vieši renginiai</a></li>
        <li><a href="#myEvents" data-toggle="tab">Mano renginiai</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="publicEvents">
            {% for event in events %}
                <li><a href="event/{{ event.id }}">{{ event.name }}</a></li>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="myEvents">
            <p>Čia bus mano renginių sąrašas</p>
        </div>
    </div>

{% endblock %}

