{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>cooFood</h1>
            <button type="button" class="btn btn-default" onClick="location.href='../login'">Prisijungti</button>
            <button type="button" class="btn btn-default" onClick="location.href='../register/'">Registruotis</button>
        </div>
    </div>

{% endblock %}

