{% extends "base.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    <button type="button" class="btn btn-default" onClick="location.href='../profile'">Atšaukti</button>
{% endblock fos_user_content %}
