{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

<!--
    <form class="form-horizontal" method="POST">
        <fieldset>
            <legend>Naujas renginys</legend>
            <div class="form-group">
                <label for="eventName" class="col-lg-2 control-label">Renginio pavadinimas</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventName" placeholder="Renginio pavadinimas">
                </div>
            </div>
            <div class="form-group">
                <label for="eventDate" class="col-lg-2 control-label">Renginio data</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventDate" placeholder="Renginio data">
                </div>
            </div>
            <div class="form-group">
                <label for="eventJoinDateStart" class="col-lg-2 control-label">eventJoinDateStart</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventJoinDateStart" placeholder="eventJoinDateStart">
                </div>
            </div>
            <div class="form-group">
                <label for="eventJoinDateEnd" class="col-lg-2 control-label">eventJoinDateEnd</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventJoinDateEnd" placeholder="eventJoinDateEnd">
                </div>
            </div>
            <div class="form-group">
                <label for="eventOrderDeadline" class="col-lg-2 control-label">eventOrderDeadline</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventOrderDeadline" placeholder="eventOrderDeadline">
                </div>
            </div>
            <div class="form-group">
                <label for="eventCity" class="col-lg-2 control-label">Miestas</label>
                <div class="col-lg-10">
                    <select class="form-control" id="eventCity">
                        <option>Vilnius</option>
                        <option>Kaunas</option>
                        <option>Klaipėda</option>
                        <option>Šiauliai</option>
                        <option>Panevėžys</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="eventAddress" class="col-lg-2 control-label">Adresas</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventAddress" placeholder="Adresas">
                </div>
            </div>
            <div class="form-group">
                <label for="eventPlace" class="col-lg-2 control-label">Vieta</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="eventPlace" placeholder="Vieta">
                </div>
            </div>
            <div class="form-group">
                <label for="eventDescription" class="col-lg-2 control-label">Aprašymas</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="eventDescription"></textarea>
                    <span class="help-block">Trumpas aprašymas apie vykstantį renginį.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="eventSupplier" class="col-lg-2 control-label">Užsakymų tiekėjas</label>
                <div class="col-lg-10">
                    <select class="form-control" id="eventSupplier">
                        <option>CanCan</option>
                        <option>Katpedėlė</option>
                        <option>Alaus namai</option>
                        <option>Valgykla</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Statusas</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="public" checked="">
                            Viešas renginys
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="private">
                            Privatus renginys
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Atšaukti</button>
                    <button type="submit" class="btn btn-primary">Patvirtinti</button>
                </div>
            </div>
        </fieldset>
    </form>
-->
    <button type="reset" class="btn btn-default">Atšaukti</button>
    <button type="submit" class="btn btn-primary">Patvirtinti</button>
    {{ form_end(form) }}
{% endblock %}