html{
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4e5d6c;

    overflow: hidden;
}

.text-footer {
    color: #ebebeb;
}

#myTabContent {
    padding-top: 20px;
}

.orders {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    padding: 10px;
}

.order-field {
    max-width: 100px;
}

.order-submit-align {
    margin-top: 23px;
}

#orderForm {
    margin-bottom: 30px;
}

.participant-list {
    text-align: center;
}

.new-event {
    min-height: 50px;
}

.users-tr {
    width: 100%;
    display: inline-table;

}

.users-tbody {
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}

.event-title {
    font-family: 'Lobster', cursive;
    font-size: 250%;
    margin:0;
    padding:0;
}

.table-wrapper {
    height: 200px;
    overflow-y: scroll;
}