html{
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    overflow: hidden;
}

#myTabContent {
    padding-top: 20px;
}

.orders {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    padding: 10px;
}

.order-field {
    max-width: 100px;
}

.order-submit-align {
    margin-top: 23px;
}

.order-checkbox-align {

    /*margin: auto;*/
    /*width: 20%;*/
}

#orderForm {
    margin-bottom: 30px;
}

.participant-list {
    text-align: center;
}


