{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Kaip naudotis?</h1>
<div class="row">
    <div class="col-md-8">
        <div class="list-group">

            <span class="list-group-item">
                <h4 class="list-group-item-heading">Sukūriamas renginys</h4>
                <p class="list-group-item-text">
                    <ul>
                        <li>Įvedamas renginio pavadinimas
                        <li>Nurodoma renginio pradžios ir užsakymų pabaigos datos (privalo tenkinti sąlygą: renginio pradžios data > užsakymų pabaigos data)
                        <li>Įvedama renginio vieta
                        <li>Trumpas aprašymas apie renginį
                        <li>Pasirenkamas maisto tiekėjas (jo keisti nebus galima)
                        <li>Statusas, ar renginys bus rodomas tarp viešų
                        <li>Statusas, ar naujiem svečiams reikalingas organizatoriaus patvirtinimas
                    </ul>
                </p>
            </span>

            <span class="list-group-item">
                <h4 class="list-group-item-heading">Svečių kvietimas</h4>
                <p class="list-group-item-text">
                    <ul>
                        <li>Svečių kvietimas atliekamas per renginio administravimo panelę
                        <li>Galima kviesti esamus, užregistruotus sistemoje svečius arba kviesti svečią, išsiunčiant kvietimo nuorodą
                    </ul>
                </p>
            </span>

            <span class="list-group-item">
                <h4 class="list-group-item-heading">Užsakymų atlikimas</h4>
                <p class="list-group-item-text">
                    <ul>
                        <li>Užsakymai daromi ir redaguojami iki užsakymų pabaigos datos
                        <li>Darant užsakymą, pasirenkamas produktas bei nurodomas norimas kiekis
                        <li>Norint užsakymą dalintis su kitais svečiais, pažymima varnele "Ar dalinamas?" ir nurodomas svečių kiekis, kuris gales prisijungti prie užsakymo
                        <li>Dalinamų užsakymų suma atitinkamai dalinama kiekvienam prie užsakymo prisijungusiam svečiui
                    </ul>
                </p>
            </span>

            <span class="list-group-item">
                <h4 class="list-group-item-heading">Užsakymų apmokėjimas</h4>
                <p class="list-group-item-text">
                    <ul>
                        <li>Praėjus užsakymų pabaigos datai, užsakymai yra nebegalimi ir atsiranda apmokėjimo migtukas
                        <li>Padarius apmokėjimą telieka laukti renginio ir užsakymų :)
                    </ul>
                </p>
            </span>

            <span class="list-group-item">
                <h4 class="list-group-item-heading">Renginio organizatorius</h4>
                <p class="list-group-item-text">
                    <ul>
                        <li>Renginio organizatorius, pasinaudojęs administravimo panele, gali bet kada pamatyti renginio užsakymų ataskaitą bei skolininkų sąrašą
                        <li>Esant poreikiui organizatorius gali keisti renginio bei užsakymų pabaigos laiką
                    </ul>
                </p>
            </span>

        </div>
    </div>
</div>
{% endblock %}